<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{styles/main.css}" href="../static/styles/main.css" rel="stylesheet"/>
</head>
<body>
<h1>this is for expiration</h1>
<p>
    bonjour <span th:text="${firstName}+ ' '+${lastName}"></span>,
</p>



<footer class="footer">

    <img src="https://p1.hiclipart.com/preview/259/837/197/https://endpoint1-at-pro.azureedge.net/image/company_logo?img_id=20630&t=1645804693440">
    <img src="../static/assets/oneworld.png">
</footer>
</body>
</html>